<h1>Who is James Khumalo?</h1>
<center><img src="~/images/khumalo.jpg" width="675" height="475" /></center>
<center><p>James Khumalo is the CEO and founder of Khumalo Craft Emporium</p></center>
<center><p>James Khumalo created Khumalo Craft Emporium in hopes of connecting</p></center>
<center><p>African artists to art collectors worldwide, so that the whole world</p></center>
<center><p>can be introduced to the art of Africa.</p></center>