<center><h1>About Us</h1></center>
<center><p>Khumalo Craft Emporium was created for the sole purpose of connecting people</p></center>
<center><p>to the amazing art within the African continent, broadening the world of art to great artists</p></center>
<center><p>within Africa. African culture is known for it's brightly coloured clothing,architecture and as well its</p></center>
<center><p>rich history, art within African culture is much more than art, some of the art within Africa can represent </p></center>
<center><p>emotion such as having brides and grooms wear brightly coloured and artistic clothing on their wedding day,</p></center>
<center><p>with the bright colours representing joy and happiness.Khumalo Craft was created do bridge this gap within</p></center>
<center><p>the art world and African artists,with Africa having 54 countries it allows for a much broader aspect to art</p></center>
<center><p>as each country has a different understanding to art and what it stands for.Khumalo Craft Emporium connects people</p></center>
<center><p>from all around the world to this type of art, bridging this massive gap, this also allows the people within Africa</p></center>
<center><p>to make a living from the art that they make.Khumalo Craft Emporium is all about connecting people from all around the </p></center>
<center><p>to African artists with amazing talent.</p></center>